{{>navbar}}

<div class="container">
    <div class="jumbotron">
        <h1>Упс!</h1>

        <h2>404 Not Found</h2>

        <div class="error-details">
            Что-то случилось, и такой страницы у тут нет.
        </div>
        <div class="error-actions">
            <a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span>
                Домой </a>
        </div>
    </div>
</div>

