<div class="container">
    <div class="jumbotron">
        <h1>Упс!</h1>

        <h2>500 Internal error</h2>

        <div class="error-details">
            Кажется, что-то сломалось. Администраторы уже в курсе и бегут чинить неисправность.
        </div>
        <div class="error-actions">
            <a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span>
                Домой </a>
        </div>
    </div>
</div>

